# Created by .ignore support plugin (hsz.mobi)
/.idea/
/target/
/FinTracking.iml
/backend/log/fintracking.log
/backend/fintracking-backend.iml
Будет удалено backend/fintracking-backend.iml
Будет удалено backend/log/
Будет удалено backend/target/
Будет удалено frontend/
