# Created by .ignore support plugin (hsz.mobi)
/.idea/
/target/
/FinTracking.iml
/backend/log/fintracking.log
/backend/fintracking-backend.iml
/frontend-angular2-beta/node_modules/
/frontend-angular2-beta/app/.DS_Store
/backend/target/
/frontend/node_modules/

